# Rust
/target/
**/*.rs.bk
*.pdb
Cargo.lock

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Test files
test_tiles/*
test_tiles_dxf/*
test_color.json/*
/samples/
output*/*

*.dxf
*.dxb
*.dwg
*.dwl
*.dwl2
*.dmp
/crash_report.txt
output_*.json


# Documentation
/docs/site/


.qoder/

config.toml

tiles/

front/
