# Rust
/target/
**/*.rs.bk
*.pdb
Cargo.lock

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Test files
test_tiles/*
test_tiles_dxf/*
/samples/
output/*

*.dxf
*.dxb
*.dwg
output_*.json


# Documentation
/docs/site/

/ACadSharp-master/